body{
	background:url(../images/pattern.jpg);
	background-size: 100%;
	color:#FFF;
	font-family: "Raleway", sans-serif;
}

.main{
	margin:20px;
	position: relative;
	padding: 20px 15px;
	text-align: center;
}

.main:before,
.main:after{
	content: "";
	border:1px solid;
	position: absolute;
	width: 100%;
	height: 100%;
}

.main:after{
	border-color: #5421bb;
	left: -5px;
	top: -5px;
}

.main:before{
	border-color: #bfa8ec;
	left: 5px;
	top: 5px;
}


h1{
	margin: 0 0 15px;
	font-size: 28px;
	font-weight: 700;
}

p{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}